@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Atkinson Hyperlegible Next', 'Roboto', sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: 70% 30%;
}

.flexbox {
    background-color: aqua;
    display: flex; 
    justify-content: center;
    align-items: center;
}
