body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    margin: 0;
    padding: 0; /* Remover padding do body */
    background-color: #f4f4f4;
}

header {
    width: 100%;
    background-color: #2A5F62;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    position: fixed; /* Fixar o cabeçalho no topo */
    top: 0;
    left: 0;
    z-index: 1000; /* Garantir que o cabeçalho fique acima de outros elementos */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 1s, color 1s; 
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 55px; 
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 40px;
    background-color: #2A5F62;
    padding: 10px;
    padding-left: 10px;
    border-radius: 10px;
    display: none;
    
}

.nav-links li {
    margin: 10px 0;
       
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-links a:hover {
    color: #ddd;
    
}

.logo {
    width: 60px; 
    height: auto;
}

h1 {
    margin-top: 80px; /* Adicionar margem superior para compensar o cabeçalho fixo */
    text-align: center;
}

h2 {
    text-align: center;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adicionar margem superior para espaçamento */
}

.table-container, .calendar-container {
    width: 48%; 
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.calendar-container{
    margin-right: 20px; /* Ajuste o valor conforme necessário */

}

.table-container {
    max-height: 400px; 
    overflow-y: auto;
    margin-right: 20px; /* Ajuste o valor conforme necessário */
    margin-left: 20px; /* Ajuste o valor conforme necessário */

}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #2A5F62;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

.calendar {
    text-align: center;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
}

.calendar th, .calendar td {
    padding: 10px;
    border: 1px solid #ddd;
}

.calendar th {
    background-color: #2A5F62;
    color: white;
}