body {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    margin: 0;
    padding: 0; /* Remover padding do body */
    background-color: #f4f4f4;
}






header {
    width: 100%;
    height: 80px;
    background-color: #2A5F62;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
}

.dropdownMenu {
    justify-content: end; /* Alinha à esquerda */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Adiciona espaço entre os itens */
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white; /* Define a cor do link como branco */
}

nav ul li a:hover {
    color: #ddd; /* Cor do link ao passar o mouse */
}
.logo {
    width: 60px; 
    height: auto;
    margin-left: auto;
}

h1 {
    margin-top: 80px; /* Adicionar margem superior para compensar o cabeçalho fixo */
    text-align: center;
}

h2 {
    text-align: center;
}

.dashboard {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adicionar margem superior para espaçamento */
}

.table-container, .calendar-container {
    width: 48%; 
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-container {
    max-height: 400px; 
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #2A5F62;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

.calendar {
    text-align: center;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
}

.calendar th, .calendar td {
    padding: 10px;
    border: 1px solid #ddd;
}

.calendar th {
    background-color: #2A5F62;
    color: white;
}